#container {
    position: absolute;
    min-width: 98vw;
    min-height: 98vh;
}

#chart_canvas {
    position: absolute;
    min-width: 98vw;
    min-height: 98vh;
    z-index: 10;
}

#animation_div {
    position: absolute;
    min-width: 98vw;
    min-height: 98vh;
    z-index: 20;
}

#snake_div {
    position: relative;
    width: 256px;
    height: 256px;
    z-index: 30;
    visibility: hidden;
}

#snake_head_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 256px;
    height: 256px;
    z-index: 33;
    filter: drop-shadow( 8px 8px 8px rgba(0, 0, 0, .7));
}
#snake_body_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 256px;
    height: 256px;
    z-index: 32;
    filter: drop-shadow( 8px 8px 8px rgba(0, 0, 0, .7));
}
#snake_tongue_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 256px;
    height: 256px;
    opacity: 0;
    z-index: 31;
    filter: drop-shadow( 8px 8px 8px rgba(0, 0, 0, .7));
}

body {
    background-color: #2d2d2d;
}

div {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
}

div #error_message {
    color: red;
}

button {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    background: #dc2b00;
    color: #cbc08e;
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
    border: none;
    position: relative;
    left: 2ch;
    top: 2ch;
    width: 8ch;
    height: 8ch;
    z-index: 50;
    visibility: hidden;
}

#move_div {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    background: #dc2b00;
    color: #cbc08e;
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 2ch;
    top: 2ch;
    width: 8ch;
    height: 8ch;
    z-index: 50;

    text-align: center;
    vertical-align: middle;
    line-height: 8ch;
    visibility: hidden;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    touch-action: none;
}

.legend {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 40;
}
.legend #version {
    color: #ffff00;
    display: block;
}
.legend #accLegend {
    color: #fe6400;
    display: none;
}
.legend #periodLegend {
    color: #009051;
    display: none;
}
.legend #debugAccLegend {
    color: #cbc08e;
    display: none;
}
.legend #mode {
    color: #dddddd;
    margin-top: 2ch;
    display: block;
}

fieldset {
    display: inline-grid;
    line-height: 2.5;
    border: none;
}
label {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #009051;
    width: 14ch;
}
input[type=radio] {
    font-family: "Roboto", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 4ch;
    height: 4ch;
    border: 1ch solid #006539;
    transition: 0.2s all linear;
    margin-right: 2ch;
    position: relative;
}
input:checked {
    border: 1.5ch solid #dc2b00;
    outline: unset !important;
}