html, body {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    background-color: #2d2d2d;
    overflow: hidden; /* Hide scrollbars */
    margin: 0;
    padding: 0;
}

#container_div {
    position: absolute;
    /*
    min-width: 98vw;
    min-height: 98vh;
    */
    width: 100%;
    min-height: 100%;
}

#chart_canvas {
    border: 0;
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 10;
}

#snake_div {
    position: absolute;
    width: 16em;
    height: 16em;
    z-index: 30;
    visibility: hidden;
}
#snake_head_img {
    position: absolute;
    z-index: 33;
    filter: drop-shadow( 0.5em 0.5em 0.5em rgba(0, 0, 0, .7));
}
#snake_body_img {
    position: absolute;
    z-index: 32;
    filter: drop-shadow( 0.5em 0.5em 0.5em rgba(0, 0, 0, .7));
}
#snake_tongue_img {
    position: absolute;
    opacity: 0;
    z-index: 31;
    filter: drop-shadow( 0.5em 0.5em 0.5em rgba(0, 0, 0, .7));
}

button {
    position: relative;
    font-size: inherit;
    text-transform: uppercase;
    background: #dc2b00;
    color: #cbc08e;
    border-radius: 50%;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.7);
    border: none;
    left: 2ch;
    top: 2ch;
    width: 8ch;
    height: 8ch;
    z-index: 50;
    visibility: hidden;
}

#move_div {
    text-transform: uppercase;
    background: #dc2b00;
    color: #cbc08e;
    border-radius: 50%;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 2ch;
    top: 2ch;
    width: 8ch;
    height: 8ch;
    z-index: 50;

    text-align: center;
    vertical-align: middle;
    line-height: 8ch;
    visibility: hidden;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    touch-action: none;
}

#version {
    position: relative;
    left: 1.25em;
    top: 1.5em;
    z-index: 40;
    color: #fe6400;
    display: block;
}
#error_message {
    position: relative;
    left: 1.25em;
    top: 1.5em;
    z-index: 40;
    color: #dc2b00;
    display: block;
}

.legend {
    position: absolute;
    text-align: right;
    right: 1.25em;
    top: 1.5em;
    z-index: 40;
    display: block;
}
#accLegend {
    color: #fe6400;
    display: none;
}
#periodLegend {
    color: #009051;
    display: none;
}
#debugAccLegend {
    color: #cbc08e;
    display: none;
}

#mode {
    color: #dddddd;
    margin-top: 2ch;
    display: block;
    z-index: 40;
}

fieldset {
    display: inline-grid;
    line-height: 2.5;
    border: none;
    z-index: inherit;
}
label {
    color: #009051;
    width: 14ch;
    display: initial;
    z-index: inherit;
}
input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 4ch;
    height: 4ch;
    border: 1ch solid #006539;
    transition: 0.2s all linear;
    margin-right: 2ch;
    position: relative;
}
input:checked {
    border: 1.5ch solid #dc2b00;
    outline: unset !important;
}